@import '~bootstrap/scss/bootstrap';

* {
  font-family: 'Roboto Mono' ,serif;
  font-weight: 500;
}

p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.link::before {
  content: ">" !important;
  color: blue !important;
}
